#footer.footer
    .footer-menu
        span
            a(href=locals.footer.blog).menu-item Blog
            a(href=locals.footer.contact).menu-item Contact
        img(src="./assets/logo.svg")
        span
            a(href=locals.footer.twitter).menu-item Twitter
            a(href=locals.footer.instagram).menu-item Instagram

    .copyright © Arrow Labs, 2017. All Rights Reserved.
