.navbar-default {
  z-index: 1024;
  background-color: transparent;
  border-radius: 0;
  border-width: 0; }
  .navbar-default .navbar-brand img {
    height: 50px;
    width: 50px; }
  .navbar-default .navbar-brand .navbar-title {
    text-transform: uppercase; }
  .navbar-default .navbar-brand * {
    display: inline; }
  .navbar-default .navbar-nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px; }
    .navbar-default .navbar-nav li a {
      color: #fff;
      font-weight: 700;
      vertical-align: middle; }

@media (min-width: 768px) {
  .nav {
    float: right !important; } }
