doctype html
html(lang="en")
  include includes/head.pug
  body
    //- include includes/navbar.pug


    //- include includes/footer.pug

    //- Import scipts AFTER document
    include includes/scripts.pug
