- var showProducts = false;
- var surveyURL = "";
- var mailTo = "mailto:contact@keyfresh.me?subject=Hello!"

doctype html
html(lang="en")
	include includes/head.pug
	body
		include includes/navbar.pug
		.banner.block
			.container
				.text-wrap
					h1
						| Refresh your
						br
						| keyboard

					p
						| We're launching a service to bring new life
						| to your keyboard every month. Type in your email
						| below and we'll be in touch soon.

					.input-group
						input.form-control(type="text", placeholder="Enter email address")
						span.input-group-btn
							button.btn.btn-default(type="button") Contact me!

					p
						| No spam here, only sweet loot.

		.about
			#about.container.about-wrap
				h1 Why Keyfresh?
				.text-box
					p.
						We started Keyfresh with one goal in mind: Provide
						mechanical keyboard enthusiasts with a mix of both
						stylish and novelty key caps on a monthly basis.
						Join us as we go where few have gone before in search
						of the coolest key caps we can find.
						We want to hear from you as we embark on this journey
						– let us know what more we can offer you.

				.button-row
					a(href= surveyURL).clear-button Take Our Survey
					a(href= mailTo).clear-button Contact Us

		//- Enable flag to show products
		if showProducts
			.products
				.row
					.col-md-6
						.product-tile
							.green-button Just For Fun
							.product-label
								.product-label-title K1: The Micro Package
								.product-label-subtitle 1 cool key every month.
					.col-md-6
						.product-tile
							.green-button The Real Deal
							.product-label
								.product-label-title K5: The Standard Package
								.product-label-subtitle 4 standard keys + 1 of something cool.

		include includes/footer.pug

		//- Import scipts AFTER document
		include includes/scripts.pug

		//-
		//- <div class="input-group">
		//-       <span class="input-group-btn">
		//-         <button class="btn btn-default" type="button">Go!</button>
		//-       </span>
		//-       <input type="text" class="form-control" placeholder="Search for...">
		//-     </div><!-- /input-group -->
